services:
  -
    class: Fork\Larastan\Larastan\Support\HigherOrderCollectionProxyHelper
  -
    class: Fork\Larastan\Larastan\Methods\HigherOrderCollectionProxyExtension
    tags:
        - phpstan.broker.methodsClassReflectionExtension
  -
    class: Fork\Larastan\Larastan\Properties\HigherOrderCollectionProxyPropertyExtension
    tags:
        - phpstan.broker.propertiesClassReflectionExtension
  -
    class: Mpietrucha\Extensions\PHPStan\Errors\CreatableExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\Extensions\PHPStan\Errors\ForwardExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\Extensions\PHPStan\ReturnTypes\NormalizerExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Mpietrucha\Extensions\PHPStan\ReturnTypes\TapExtension
    tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Mpietrucha\Extensions\PHPStan\ReturnTypes\PassExtension
    tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Mpietrucha\Extensions\PHPStan\ReturnTypes\RouteableExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Mpietrucha\Extensions\PHPStan\ReturnTypes\WrappableExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Mpietrucha\Extensions\PHPStan\Stubs\InternalExtension
    tags:
        - phpstan.stubFilesExtension
  -
    class: Mpietrucha\Extensions\PHPStan\Stubs\ExternalExtension
    tags:
        - phpstan.stubFilesExtension
parameters:
    reportUnmatchedIgnoredErrors: false
    typeAliases:
        RawBacktraceFrame: "array{function: string, line?: int, file?: string, class?: class-string, type?: '->'|'::', args?: array<string, mixed>, object?: object}"
    ignoreErrors:
        - identifier: "callable.nonNativeMethod"
