includes:
    - %currentWorkingDirectory%/vendor/nesbot/carbon/extension.neon
services:
  -
    class: Fork\Larastan\Larastan\Support\HigherOrderCollectionProxyHelper
  -
    class: Fork\Larastan\Larastan\Methods\HigherOrderCollectionProxyExtension
    tags:
        - phpstan.broker.methodsClassReflectionExtension
  -
    class: Fork\Larastan\Larastan\Properties\HigherOrderCollectionProxyPropertyExtension
    tags:
        - phpstan.broker.propertiesClassReflectionExtension
  -
    class: Mpietrucha\PHPStan\Errors\CreatableExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\Errors\ForwardExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\Errors\PipelineExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\Errors\PropertyExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\Errors\MethodExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\Errors\InstanceExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\Errors\ProcessExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\NormalizerExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\TapExtension
    tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\PassExtension
    tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\RouteableExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\WrappableExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\EnumExtension
    tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension
  -
    class: Mpietrucha\PHPStan\TypeSpecifiers\CompatibleExtension
    tags:
        - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
  -
    class: Mpietrucha\PHPStan\Stubs\InternalExtension
    tags:
        - phpstan.stubFilesExtension
  -
    class: Mpietrucha\PHPStan\Stubs\ExternalExtension
    tags:
        - phpstan.stubFilesExtension
parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: "callable.nonNativeMethod"
