services:
  -
    class: Mpietrucha\PHPStan\Errors\CreatableExtension
    tags:
        - phpstan.ignoreErrorExtension
  -
    class: Mpietrucha\PHPStan\ReturnTypes\NormalizerExtension
    tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension
