includes:
    - extension.neon
parameters:
    level: 8
    paths:
        - src
        - extensions
    ignoreErrors:
        - identifier: "trait.unused"
        - identifier: "arguments.count"
        - identifier: "callable.nonNativeMethod"
