includes:
    - extension.neon
services:
    -
        class: Fork\Larastan\Larastan\Support\HigherOrderCollectionProxyHelper
    -
        class: Larastan\Larastan\Methods\HigherOrderCollectionProxyExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Larastan\Larastan\Properties\HigherOrderCollectionProxyPropertyExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
parameters:
    level: 8
    paths:
        - src
        - phpstan
    ignoreErrors:
        - identifier: "trait.unused"
    typeAliases:
        RawBacktraceFrame: "array{function: string, line?: int, file?: string, class?: class-string, type?: '->'|'::', args?: array<string, mixed>, object?: object}"
    stubFiles:
        - phpstan/stubs/Arrayable.stub
        - vendor/larastan/larastan/stubs/common/Support/Str.stub
        - phpstan/stubs/HigherOrderCollectionProxy.stub
